<li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <span class="post-meta"><time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>

    <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
            <span itemprop="name">{{ post.title }}</span>
        </a>
    </h2>

    {% if post.image %}
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <a href="{{ post.url | prepend: site.baseurl }}"><img class="align{{ post.image.align }}" itemprop="image" src="/assets/images/{{ post.image.src }}" alt="{{ post.image.alt }}" /></a>
        <meta itemprop="url" content="{{ site.url }}/assets/images/{{ post.image.src }}">
    </div>
    {% endif %}

    <div itemprop="description">{{ post.excerpt }}</div>

    <p>
        <a href="{{ post.url | prepend: site.baseurl }}">Continue reading →</a>
    </p>
</li>
